@tailwind base;
@tailwind components;
@tailwind utilities;

/* frontend/src/index.css */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
    /* bg-slate-950 */
}

::-webkit-scrollbar-thumb {
    background: #334155;
    /* bg-slate-700 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #06b6d4;
    /* bg-cyan-500 */
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #334155 #0f172a;
}